main.container {
    margin-top: 3em;
}

.navbar.navbar-default {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.navbar-default .navbar-nav > li {
    font-size: 1.3em;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #76bff1;
}

.navbar-brand {
    color: #fff !important;
    font-size: 3rem;
}

footer {
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-top: 55px;
    color: white;
}

footer p {
    padding: 10px;
}

.table td:nth-child(4) {
    text-align: center
}
